<img class="profile-circles" src="<%= profile_image %>"/>

<ul class="twitter-user-info">
  <li id="twitter-user-name"><%= name %></li>
  <li id="twitter-user-handle"><a href="http://twitter.com/<%= handle %>" target="_blank">@<%= handle %></a></li>
</ul>
