#one-degree-button-container {
  top: 75px;
  width: 100%;
  height: calc(100% - 75px);
  display: none;
  position: absolute;
}

#one-degree-button {
  color: white;
  width: 300px;
  height: 60px;
  border: none;
  padding: 8px 16px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  top: calc(50% - 30px);
  left: calc(50% - 150px);
  background-color: #242464;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#one-degree-button:hover {
  background-color: #59597C;
}

#one-degree-profile-image{
  border-radius: 50%;
  height: 300%;
}

#one-degree-drawing-container {
  top: 75px;
  width: 100%;
  height: calc(100% - 75px);
  margin: auto;
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
}

#minimize-button {
  height: 20px;
  width: 20px;
  background-color: #242464;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
}

#minimize-button a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.type-containers {
  width: 80%;
  margin: auto;
  position: relative;
  height: 25%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #242464;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.type-containers:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid #D93240;
}

#target-container {
}

#primary-container {
}

#secondary-container {
}

#tertiary-container {
  border-bottom: none;
}

.twitter-user {
  width: 400px;
  margin: 0 auto;
}

.profile-circles {
  height: 49px;
  width: 49px;
  border-radius: 50%;
}

.twitter-user-info {
  margin: 10px;
  padding: 0;
  clear: right;
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  text-align: left;
}

#twitter-user-name {
  font-weight: 600;
}

#twitter-user-handle a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.type-text-left {
  padding: 5px 12px 5px 12px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  font-weight: 300;
  background-color: #242464;
  border-radius: 5px 5px 0px 0px;
  color: white;
}

.type-text-right {
  right: 0;
  padding: 5px 12px 5px 12px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  font-weight: 300;
  background-color: #242464;
  border-radius: 5px 5px 0px 0px;
  color: white;
}
